#container{
    position: relative;
    width: 600px;
    height: 350px;
    margin: 50px auto;
}
#container img{
    height: 350px;
    width: 600px;
    transition: filter 1s;
}
#container:hover img{
    /*模糊效果*/
    filter: blur(2px);
}

#fig  {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 570px;
    height: 320px;
    text-align: center;
    /*fig上的不透明度为0先隐藏*/
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.6s, top 0.6s;
}

#container:hover #fig{
    opacity: 1;
}
#fig:before{
    position: absolute;
    top: 0;
    width: 0%;
    height: 321px;
    content: '';
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    transition: width 1s,left 1s;
    box-sizing: border-box;
    z-index: 10;
}

#fig:after{
    position: absolute;
    left: 0;
    top: 50%;
    width: 571px;
    height:0% ;
    content: '';
    border-left: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    transition: height 1s, top 1s;
    box-sizing: border-box;
    z-index: 90;
}

#container:hover #fig::before{
    width: 100%;
    left: 0;
}
#container:hover #fig::after{
    height: 100%;
    top: 0;
}

#fig .title ,#fig .link{
    /*无缝连接流光效果，定义颜色组合，最后100%的颜色要和第一种颜色相同*/
    background-image: -webkit-linear-gradient(left, yellow, red 15%, blue 30%,black 50%,blue 70%, red 85%, yellow 100%);
    /*设置背景图长度*/
    background-size: 200% 100%;
    /*使用文字作为裁剪区域向外裁剪，此时文字颜色仍覆盖背景图*/
    -webkit-background-clip: text;
    /*设置字体颜色为透明 这样就能显示出背景图*/
    -webkit-text-fill-color: transparent;
    /*鼠标悬浮时开始动画*/
    animation: gradient 3s linear infinite;
    font-size: 30px;
    position: relative;
    margin-top: 100px;
}
#fig .title{
    width: 100%;
    display: block;
    font-size: 30px;
    margin-bottom: 30px;
}
#fig .link{
    text-decoration: none;
    font-size: 20px;
    z-index: 100;
}

@keyframes gradient {
    from{background-position: 0% 0%;}
    to{background-position: -100% 0%;}
}
